{% extends 'calapp/base.html' %}

{% block content  %}

<h1>Nos évènements</h1>

<h2>Baba Yetu</h2>
<p>Mardi 29/01/2024 de 18h à 20h se faisait le dernier concert organisé par notre chère Lucie Maranne, responsable du club musique de l'ENSC aussi connu sous le nom de 'Calaband'. <br>
A cette occasion, la chorale qui n'a toujours pas de nom ni de logo, a pu interpréter une version a cappella du célèbre morceau 'Baba Yetu' de Christopher Tin. <br>
Ce soir là les 3A (promo 2024) chantaient avec nous pour la dernière fois avant de partir pour de nouvelles aventures encore plus trépidantes je n'en doute pas ! <br>
En attendant, on se retrouve demain à 18h30 pour préparer notre prochaine représentation le Samedi 03/02/2024 pour la journée portes ouvertes de l'école.</p>
<p>J'espère qu'on le fera d'une traite cette fois ! Voici la 2ème partie de ce soir :</p>
<iframe src="https://drive.google.com/file/d/1n0V1NSMitkucxFjKRXvmgAVGg8nrWIVE/preview" width="640" height="480" allow="autoplay"></iframe><br>
{% comment %} <audio controls src="https://drive.google.com/file/d/17h6Gwezlph37LjiK6aRMpQR5caQtefic/view?usp=drive_link" type="audio/aac"></audio><br>
<a href="https://drive.google.com/file/d/17h6Gwezlph37LjiK6aRMpQR5caQtefic/preview"> Download audio </a><br>
<iframe src="https://drive.google.com/file/d/17h6Gwezlph37LjiK6aRMpQR5caQtefic/preview" width="640" height="480" allow="autoplay"></iframe><br>
<audio class="player" controls preload="none">
    <source src="https://docs.google.com/uc?export=open&id=17h6Gwezlph37LjiK6aRMpQR5caQtefic" type="audio/mp3">
</audio> {% endcomment %}
<p>coming soon... or not ?</p>

{% endblock %}