{% extends 'calapp/base.html' %}

{% block content  %}

<h1>S'inscrire</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ form.as_p }}
    <p>
        <label for="id_password">Mot de passe:</label>
        <input type="password" name="password" max_length="255" required id="id_password"/>
    </p>
    <p>
        <label for="id_confirmation">Confirmer le mot de passe:</label>
        <input type="password" name="confirmation" max_length="255" required id="id_confirmation"/>
    </p>
    <input type="submit" value="S'inscrire" />
</form>

{% endblock %}