{% extends 'calapp/base.html' %}

{% block content  %}

<h1>Solfège</h1>

{% for music_theory_lesson in music_theory_lessons %}
{% include 'calapp/includes/music_theory_lesson.html' with music_theory_lesson=music_theory_lesson %}<br>
{% endfor %}

<h2>Ajouter un nouveau cours</h2>
{% if is_connected %}
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Ajouter le cours"/>
  </form>
  {% else %}
  <p>Connectez-vous pour ajouter un cours.</p>
{% endif %}


{% endblock %}