{% extends 'calapp/base.html' %} {% block content %}

<h1>Sondages</h1>

<h2>Vote pour ton logo préféré</h2>
<form method="post">
  {% csrf_token %} {% for logo in logos %}<br />
  {% include 'calapp/includes/photo.html' with photo=logo%}
  <br />
  <input type="radio" id="logoChoice{{forloop.counter0}}" name="logoChoice"
  value="{{logo.id}}" {% if user_vote_logo_id and logo.id == user_vote_logo_id or forloop.counter0 == 0 %}checked{% endif %} />
  <label for="logoChoice{{forloop.counter0}}"
    >Vote pour le logo de {{logo.author}}</label
  ><br />
  {% empty %}
  <p>
    Aucun logo n'a été posté, déposez les
    <a href="{% url 'contact-us' %}">ici</a> !
  </p>
  {% endfor %}<br />
  <input type="submit" value="Envoyer" />
</form>
{% endblock %}
